In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn import metrics
import re
import string

C:\Users\Ajay\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
fake_rumor = pd.read_csv('Rumor_Fake.csv')
true_rumor = pd.read_csv('Rumor_True.csv')

In [3]:
fake_rumor.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
true_rumor.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [5]:
fake_rumor.shape, true_rumor.shape

((23481, 4), (21417, 4))

In [6]:
fake_rumor['class']= 0
true_rumor['class']= 1

In [7]:
fake_rumor.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [8]:
true_rumor.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [9]:
fake_rumor.shape, true_rumor.shape

((23481, 5), (21417, 5))

In [10]:
merging = pd.concat([fake_rumor, true_rumor], axis = 0)
merging.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
merging.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [12]:
df = merging.drop(['title','subject','date'], axis = 1)

In [13]:
df.isnull().sum()

text     0
class    0
dtype: int64

In [14]:
df = df.sample(frac = 1)

In [15]:
df.head()

                                                    text  class
13713  NAIROBI (Reuters) - Burundi s main opposition ...      1
1270   It s so much fun watching Kellyanne Conway get...      0
6095   WASHINGTON (Reuters) - U.S. President Donald T...      1
12990  JERUSALEM (Reuters) - Palestinian President Ma...      1
11978                                         Via: MRCTV      0

In [16]:
df.reset_index(inplace = True)
df.drop(['index'], axis = 1, inplace = True)

In [17]:
df.columns

Index(['text', 'class'], dtype='object')

In [18]:
df.head()

                                                text  class
0  NAIROBI (Reuters) - Burundi s main opposition ...      1
1  It s so much fun watching Kellyanne Conway get...      0
2  WASHINGTON (Reuters) - U.S. President Donald T...      1
3  JERUSALEM (Reuters) - Palestinian President Ma...      1
4                                         Via: MRCTV      0

In [19]:
def clean_word(text):
    
    text = text.lower()
    text = re.sub(r'\[.*?\]', '', text)
    text = re.sub(r'\W', ' ', text)
    text = re.sub(r'https?://\S+', '', text)
    text = re.sub(r'<.*?>', '', text)
    text = re.sub(r'[{}]'.format(re.escape(string.punctuation)), '', text)
    text = re.sub(r'\n', '', text)
    text = re.sub(r'\w*\d\w*', '', text)

    return text

In [20]:
df['text'] = df['text'].apply(clean_word)

In [21]:
X = df['text']
Y = df['class']

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)

In [23]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((35918,), (8980,), (35918,), (8980,))